// {
//   "presets": ["react-native", "env", "stage-2"]
// }

{
  "presets": ["env", "stage-2", "react-native"],
  "env": {
    "test": {
      "presets": ["env", "stage-2", "react-native"]
    }
  }
}

// {
//   "presets": [
//     [
//       "env",
//       {
//         "modules": false
//       }
//     ]
//   ],
//   "env": {
//     "test": {
//       "presets": [
//         [
//           "env",
//           {
//             "modules": true
//           }
//         ]
//       ]
//     }
//   }
// }
